{% extends 'base.html' %}

{% block content %}
    
<div class="">
	<div class="p-5 mb-5 bg-light round-3">
		<div class="container-fluid py-5">
			<h1 class="display-5 fw-bold">Homework Tracker</h1>
			<p class="col-md-8 fs-4 fw-lighter">Keep track of everything you.</p>
			<a class="btn btn-primary btn-lg" role="button" href="{{ url_for('dashboard') }}">Get Started</a>
		</div>
	</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Helps manage time</h2>
            <p>Do you get overwhelmed with everything you need to do? It can feel like there just isn’t time for everything that needs to be done in our work and personal lives.</p>
        </div>
        <div class="col-md-4">
            <h2>Improve your productivity</h2>
            <p>Blocking out time on your schedule for your errands and household chores is a great way to improve productivity. Designating time to focus on one thing before moving on to the next is a sure way to boost your efficiency both at home and at work.</p>
        </div>
        <div class="col-md-4">
            <h2>LESS STRESS</h2>
            <p>It’s easy to become overwhelmed when we have so much on our plates. However, even a busy schedule feels more manageable when we allot time for the things we need to do. With everything written down and given its own block of time, we can go more easily from one responsibility to the next.</p>
        </div>
    </div>

</div>

{% endblock content %}